<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> 
	
  	
  	
  	<bean id="tc" class="com.resttest.framework.Excel.model.TestCase" scope="prototype">
  	</bean>

	<bean id="payload" class="com.resttest.framework.Excel.model.Payload" scope="prototype" >
  	</bean>
  	
  	<bean id="header" class="com.resttest.framework.Excel.model.Header" scope="prototype">
  	</bean>
  	
  	<bean id="scenario" class="com.resttest.framework.Excel.model.Scenario" scope="prototype">
  	</bean>
  	
  	<bean id="read" class="com.resttest.framework.Excel.model.WorkBookRead" init-method = "init" scope="prototype">
  	</bean>
  	
  	<context:component-scan base-package="json.to.excel.ConvertExcelToJson" />

</beans>
